@page
@model IndexModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="intro-container">
    <div class="text-content">
        <h1>Get ready for an Alien Invasion!</h1>
        <h1>In this simulation, you can control the movements of aliens who have visited Earth.</h1>
        <p>The aliens will move across a "bounce" map. This means that when they reach the edge of the map, they will bounce back in the opposite direction.</p>
        <p>Visualization using object-oriented programming in C# and Razor Pages.</p>
        <form asp-page="/Privacy" method="post">
            <button class="start-button" type="submit" name="turnchange" value="start">Start</button>
        </form>
    </div>
    <img src="~/css/X.png" alt="Alien Invasion" class="intro-image" width="500" height="500" />
</div>



