@page
@model IndexModel
<h1>Aplikacja demonstracyjna Sim Web</h1><br>
<p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p><br><br>
<img src="css/Main.jpg" alt="WoW"/>

