<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Alien Invasion Simulator" />
    <meta name="author" />
    <title>@ViewData["Title"] - Alien Invasion</title>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo"><b>Alien Invasion</b></h1>
            <nav aria-label="Main Navigation">
                <ul class="nav-menu">
                    <li><a asp-area="" asp-page="/Index">Home Page</a></li>
                    <li><a asp-area="" asp-page="/Privacy">Simulation</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main role="main" class="container main-content">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year Simulator. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
